<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="color" value="#0000FF" />
      <add key="color_temperature" value="#0000FF" />
      <add key="color_humidity" value="#0000FF" />
      <add key="font_name" value="Arial" />
      <add key="font_name_label" value="Arial" />
      <add key="font_size" value="60" />
      <add key="comm_port" value="COM3" />
      <add key="baud_rate" value="9600" />
      <add key="parity" value="0" />
      <add key="databits" value="8" />
      <add key="stopbits" value="1" />
      <add key="position_left" value="120" />
      <add key="position_top" value="150" />
      <add key="space_between" value="150" />
      <add key="position_left_adjustment" value="-200" />
      <add key="tx" value="010400010002200B" />
      <add key="slave_address" value="1" />
      <add key="start_address" value="0" />
      <add key="register_qty" value="7" />
      <add key="key_configure" value="67" />
      <add key="key_save" value="83" />
      <add key="key_run" value="82" />
      <add key="key_stop" value="84" />
      <add key="key_close" value="27" />
      <add key="calibarate_temp" value="1" />
      <add key="calibarate_humidity" value="0" />
      <add key="kode_close" value="1234" />
    </appSettings>
</configuration>  